<button (click)="addTask()">addtask</button>
<div cdkDropListGroup class="board">
  <div cdkDropList
       class="column"
       *ngFor="let columns of board.columns"
       [cdkDropListData]="columns.tasks"
       (cdkDropListDropped)="drop($event)">
    <h3>{{ columns.name }}</h3>

    <div
      class="card"
      *ngFor="let task of columns.tasks"
      cdkDrag
      cdkDragData="task">
      {{ task.name }}
      <hr>
      {{ task.description }}
      <div class="card--placeholder" *cdkDragPlaceholder></div>
      <div class="card" *cdkDragPreview>
        {{task.name}}
        <hr>
        {{ task.description }}
      </div>
    </div>
  </div>
</div>
